*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* //Danh Sách sản phẩm  */
#danhSachSanPham .item_sanpham{
    border-radius: 20px;
    overflow: hidden;
    height: 75vh;
    position: relative;
    padding: 0px;
    margin: 0px 1vw;
}
#danhSachSanPham .item_sanpham .footer_card{
position: absolute;
width: 100%;
bottom: 2%;
left: 5%;
}
#danhSachSanPham .item_sanpham img{
    width: 50%;
    display: block;
    margin: 50px auto;
}
#danhSachSanPham .item_sanpham .card-top {
    background-image: url(../img/637947074207044120_frame-cate-270x210-banner-desk.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: red 3px solid;
    border-radius: 20px 20px 0px 0px;
}
#danhSachSanPham .item_sanpham .card-title {
    font-weight: bold;
    font-size: 25px;
}
#danhSachSanPham .item_sanpham .card-title span{
font-size: 13px;
font-weight: 500;
color: green;
}
#danhSachSanPham .item_sanpham .card-text span{
    padding: 5px 2px;
    border: 0.5px solid black;
    font-size: 10px;
    border-radius: 5px;
    margin: 5px 0px;
    display: inline-block;
    font-weight: bold;
    background-color: rgb(243, 244, 246);
}
#danhSachSanPham .item_sanpham .footer_card span input{
width: 100%;
border: 1px solid;
border-radius: 10px ;
text-align: center;
font-size: 20px;
}
/* // Cart  */
.cart_shop{
    position: fixed;
    right: 60px;
    top: 20px;
    width: 30px;
    height: 30px;
}
.cart_icon{
    position: relative;
    font-size: 30px;
}
.cart_num{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    color: white;
    top: 0;
    right: -30%;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}

/* //CARTbOX  */
.cart_content {
    position: fixed;
    width: 0vw;
    height: 100vh;
    background-color: #2B3E51;
    top: 0;
    right: 0;
    transition: 0.2s;
    z-index: 2;
    overflow: hidden;
}
.cart_contentFooter{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 100%;
    color: white;
    font-size: 30px;

}
.cart_iconclose {
    position: relative;
    height: 50px;
}
.cart_iconclose i {
    position: absolute;
    bottom: 0;
    right: 30px;
    font-size: 30px;
    color: white;
}
.cart_itemproduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 20px 0;
}
.cart_itemproduct .cart_img img{
width: 60px;
}

.modal-backdrop{
    z-index: 1;
}
.modal-title{
    color: black;
}
.modal-body{
    color: black;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
  }